# .NET
bin/
obj/
*.user
*.userosscache
*.sln.docstates

# App Settings (Sensitive)
# appsettings.json
# AppSettings.json

# Generated Code & Logs
_GeneratedCode/
*.log

# VS Code
.vscode/

# Visual Studio
.vs/
[Tt]est[Rr]esults/
*.suo
*.user
*.userosscache
*.sln.docstates
*.patch
*.diff

# Mac
.DS_Store
